@media (min-width: 1024px) {
  .footer {
    /* display: flex; */
  }
}

@media (min-width: 800px) {
}

@media (max-width: 766px) /* 0 - 766 */ {
  .hide-phone {
    display: none;
  }

  /* .phone-only {
    display: block;
  }*/

  .main {
    margin-top: 35px;
  }

 
  .header .offer_div a {
    font-size: 10px;
  }

  .header .nav {
    margin: 0 10px;
    padding: 10px 10px;
  }

  .header .nav .brand-icon {
    margin-left: 8px;
    height: 27px;
  }


  .page1 .inner_div {
    align-items: start;
    justify-content: center;
    text-align: center;
    width: 30;
    height: 90vh;
    margin: 80px auto;
  }
  
  .page1 .inner_div .content_div {
    flex-basis: 33.3%;
    color: black;
  }
  .page1 .inner_div .content_div h1 {
    font-family: "Queens", serif;
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 0.8em;
  }
  
  .page1 .inner_div .content_div p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  .page1 .inner_div .content_div button {
    background-color: black;
    border: 0;
    margin: 0 auto;
  }
  
  .page1 .inner_div .content_div button a {
    padding: 16px 30px 14px;
    font-size: 12px;
    width: fit-content;
  }
  



  .brands_div {
  }
  
  .brands_div h3{
    margin: 20px;
    font-size: 16px;
    white-space: nowrap;
  }
  
  .brands_div ul {
    overflow-x: hidden;
  }
  
  .brands_div li {
    display: block;
    margin-right: 10px;
  }
  
  .brands_div img {
    width: 100px;
    /* width: 100%; */
  }




  .page7 .products-list {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
  }


  .chat_div {
    display: none;
  }

}

@media (min-width: 767px) {
  .hide-phone {
    display: block;
  }

  .phone-only {
    display: none;
  }
}

@media (min-width: 767px) and (max-width: 1278px) /*767 - 1278 */ {
}
