@font-face {
  font-family: "Queens";
  src: url("./../assets/fonts/Queens_W-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mars Sans Web";
  src: url("./../assets/fonts/MarrSans-Regular-Web.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mars Sans Web";
  src: url("./../assets/fonts/MarrSans-RegularItalic-Web.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Mars Sans Web";
  src: url("./../assets/fonts/MarrSans-Medium-Web.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Mars Sans Web", sans-serif;
}

a{
  font-size: 22px;
  text-decoration: none;
  color: black;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.header .offer_div {
  background-color: #72f2c7;
  padding: 10.5px 0;
  text-align: center;
  border-bottom: 1px solid black;
}

.header .offer_div a {
  margin: 0;
  font-family: "Mars Sans Web", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.header .nav {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 8px;
}

.header .nav ul {
  display: none;
}

.header .nav ul li {
  display: inline;
}

.main {
  margin-top: 45px;
}

.page1 {
  position: relative;
  width: 100%;
  height: 100vh; /* or any desired height */
  overflow: hidden;
}

.page1 .bg_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /*Ensures the image covers the entire container */
  z-index: -1;
  /* Ensures the image is behind other content */
}

.page1 .inner_div .content_div > * {
  position: relative;
  z-index: 1; /* Ensures the content is above the background image */
}

.page1 .inner_div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  color: white;
  width: 100%;
  max-width: 1490px;
  padding: 0 27px;
  margin: 40px auto;
}

.page1 .inner_div .content_div {
  flex-basis: 33.3%;
}
.page1 .inner_div .content_div h1 {
  font-family: "Queens", serif;
  font-size: 72px;
  margin: 0 0 30px 0;
}

.page1 .inner_div .content_div p {
  margin: 0 auto 30px;
  font-size: 22px;
}

.page1 .inner_div .content_div button {
  background-color: black;
  color: white;
  border: 0;
  font-size: 12px;
  padding: 16px 40px 14px;
}

.page3 {
  background-color: black;
  text-align: center;
}

.page3 .inner_div {
  padding: 80px 0;
}

.page3 .review_heading {
  font-family: "Queens", serif;
  font-size: 52px;
  color: white;
}

.page3 .review_body {
}

.page3 .scrollable_viewport {
  overflow-x: hidden; /* Allows horizontal scrolling if content overflows */
  white-space: nowrap; /* Prevents contents from wrapping */
  padding: 45px 0 40px; /* Adjust padding as needed */
}

.page3 .scrollable_div {
  display: flex; /* Flex container for cards */
  flex-wrap: nowrap; /* Prevents flex items from wrapping */
}

.page3 .card {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto; /* Ensures cards do not grow or shrink */
  width: 707px; /* Adjust width as necessary */
  margin-right: 10px; /* Optional: Adds spacing between cards */
  border: 1px solid white;
  background-color: inherit;
  color: white;
  overflow: hidden; /* Hides overflow content */
  border-radius: 0;
}


.page3 .card .text_div {
  text-align: left;
  white-space: wrap;
  padding: 40px 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page3 .card .image_div {
  width: 50%;
}

.page3 .card .image_div img{
  width: 100%;

}


.page3 .btn a{
  display: inline-block;
  padding: 20px 10px 18px;
  background-color: #72f2c7;
  border-radius: 0;
  font-size: 16px;
  min-width: 250px;
}

.page7 {
  font-family: "Mars Sans Web";
}

.page7 .inner_div {
  padding: 0 27px;
}

.page7 .heading {
  font-family: "Queens", sans-serif;
  font-size: 52px;
  text-align: center;
}

.page7 .products-list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.page7 .product {
  border: 1px solid #bebebe;
}

.page7 .product .title {
  padding: 16px 20px 0;
  margin: 0;
}

.page7 .product a {
  font-size: 22px;
  text-decoration: none;
  color: black;
}

.page7 .product img {
  width: 100%;
}

.page7 .product button {
  width: 100%;
  color: white;
  background-color: black;
  border-radius: 0;
  /* bottom: 0; */
}

.page8 .heading {
  font-family: "Queens", sans-serif;
  font-size: 52px;
  text-align: center;
}

.page8 .accordion {
  /* margin-bottom: 30px; */
}

.page8 .accordion-item {
  border: 0;
  font-size: 14px;
}

.page8 .accordion-item:active {
  border: 0;
}

.accordion-button:focus {
  box-shadow: none;
  outline: none;
}

.accordion-button:not(.collapsed),
.accordion-button:not(.collapsed)::after,
.accordion-button {
  background-color: transparent;
  /* font-weight: 100; */
  font-size: 0.55em;
  color: black;
}

.footer {
  font-family: "Mars Sans Web", sans-serif;
  background-color: black;
  color: white;
}

.footer ul {
  padding: 0;
}

.footer ul li {
  list-style: none;
}

.footer a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.footer a:hover {
  text-decoration: underline;
}
.footer span {
  padding-bottom: 10px;
}

.image-width {
  max-width: 100%;
  height: auto;
  aspect-ratio: 1;
}

.hr {
  opacity: 100;
  margin: 10px;
}

.chat_div {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50px;
  background-color: black;
  padding: 16px 16px;
  z-index: 100;
  border: 0;
}
.accesibility_div {
  position: fixed;
  bottom: 15px;
  left: 15px;
  border-radius: 50px;
  background-color: black;
  z-index: 100;
}

.accesibility_div img {
  width: 45px;
}

.empty_div {
  height: 50px;
}

.cornerarrow {
  position: relative;
}

.cornerarrow::after {
  content: url(./../assets/svg/corner_arrow.svg);
  position: absolute;
  margin-left: 1px;
  top: 20%;
}

.stars-container {
  display: flex;
  align-items: center;
}

.star-icon::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 24px; 
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNCIgZmlsbD0iY3VycmVudENvbG9yIiB2aWV3Qm94PSItMSAtMSAyNiAyNCIgaWQ9InN0YXItdGVhbCIgeT0iNDg3MyI+PHBhdGggZD0ibTEwLjg4NiAwIDIuNjcgOC4yMTNoOC42MzVsLTYuOTg2IDUuMDc3IDIuNjY4IDguMjEzLTYuOTg3LTUuMDc2TDQuOSAyMS41MDNsMi42NjgtOC4yMTNMLjU4MiA4LjIxM2g4LjYzNkwxMC44ODYgMFoiIGZpbGw9IiM3MkYyQzciLz48L3N2Zz4=")
    no-repeat center center;
  background-size: contain;
}

.stars-container {
  padding: 0;
  margin: 0;
}

section{
  overflow-x: hidden;
}